doctype
html
    head
        title Matematica
        base(href="/")
        link(rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.css")
        link(rel="stylesheet" type="text/css" href="lib/toastr/toastr.css")
        link(rel="stylesheet" type="text/css" href="css/site-style.css")
    body(ng-app="myApp", ng-controller="IndexCtrl", ng-cloak)
        block main-content

        include scripts
        include currentUser
