script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript" src="lib/toastr/toastr.js")

// angular
script(type="text/javascript" src="/lib/angular/angular.js")
script(type="text/javascript" src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js")
script(type="text/javascript" src="/lib/angular-resource/angular-resource.js")
script(type="text/javascript" src="lib/angular-route/angular-route.js")
script(type="text/javascript" src="app.js")

// angular Conroles
script(type="text/javascript" src="js/controllers/IndexCtrl.js")
script(type="text/javascript" src="js/controllers/PracticeCtrl.js")
script(type="text/javascript" src="js/controllers/OptionsCtrl.js")
script(type="text/javascript" src="js/controllers/ErrorsCtrl.js")
script(type="text/javascript" src="js/controllers/account/RegisterCtrl.js")
script(type="text/javascript" src="js/controllers/account/LoginCtrl.js")
script(type="text/javascript" src="js/controllers/account/ProfileCtrl.js")
script(type="text/javascript" src="js/controllers/admin/AdminCtrl.js")
script(type="text/javascript" src="/js/controllers/user/UserEditCtrl.js")
script(type="text/javascript" src="/js/controllers/user/UserDeleteCtrl.js")
script(type="text/javascript" src="/js/controllers/user/UsersDetailsCtrl.js")

// angular Services
script(type="text/javascript" src="js/services/account/auth.js")
script(type="text/javascript" src="js/services/account/identity.js")
script(type="text/javascript" src="js/services/account/usersResource.js")
script(type="text/javascript" src="js/services/task/options.js")
script(type="text/javascript" src="js/services/task/task.js")
script(type="text/javascript" src="js/services/task/errorsTheUser.js")
script(type="text/javascript" src="js/services/task/logicReply.js")
script(type="text/javascript" src="js/services/usersData.js")

// angular Directives
script(type="text/javascript" src="js/directives/timer.js")

// common
script(type="text/javascript" src="common/notifier.js")