.container
    .panel.panel-default
        .panel-heading
            h3.text-center Contatto!
        .panel-body
            | Potrai contattarci tramite email, per qualsiasi informazione e chiarimento. Risponde personalmente l’amministratore del sito Dodi Ivanov.
        .panel-footer
            ul
                li
                    span.icon-btn
                        i.fa.fa-envelope-o
                    | Email: dobromirivanov25@gmail.com